@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImage1{
    background-image: url('./Image/pic1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}